<h1>Discovery</h1>
	<dl>
  		<dt>What problem are we solving?</dt>
  		<dd>something here</dd>
	</dl>

	<dl>
  		<dt>How can we solve it?</dt>
  		<dd>something here</dd>
	</dl>
	<dl>
  		<dt>What's the right UX?</dt>
  		<dd>something here</dd>
	</dl>

	<dl>
  		<dt>Can we do it?</dt>
  		<dd>something here</dd>
	</dl>
<hr>

  	<div class="container">
	    <div class="row">
	    	<div class="col-md-6 phone">
	        	<%= image_tag('photo3.JPG', :class=>"img-circle", :alt=>"Responsive image") %>
	        </div>
	        <div class="col-md-6 text">
	            <h3>Subhead Here</h3>
	            <div class="description">
	            	This is description copy about discovery sessions.
	            </div>
	        </div>
	    </div>
	</div>

<hr>

  	<div class="container">
	    <div class="row">
	        <div class="col-md-6 text">
	            <h3>Subhead Here</h3>
	            <div class="description">
	            	This is description copy about discovery sessions.
	            </div>
	        </div>
	        <div class="col-md-6 phone">
	        	<%= image_tag('photo1.JPG', :class=>"img-circle", :alt=>"Responsive image") %>
	        </div>
	    </div>
	</div>


<hr>


  	<div class="container">
	    <div class="row">
	    	<div class="col-md-6 phone">
	        	<%= image_tag('photo2.JPG', :class=>"img-circle", :alt=>"Responsive image") %>
	        </div>
	        <div class="col-md-6 text">
	            <h3>Subhead Here</h3>
	            <div class="description">
	            	This is description copy about discovery sessions.
	            </div>
	        </div>
	    </div>
	</div>




<hr>


<p>
  <button class="btn btn-info" type="button" href="http://www.svproduct.com/">Go to the Coach</button>
  	
  	<a class="btn btn-link	" href="http://www.producttalk.org/" target="_blank">Follow Product Talk</a>

	<a class="btn btn-link	" href="http://www.svproduct.com/" target="_blank">Follow Marty Cagan</a>
</p>



