<h1>Discovery How To</h1>

<hr>

  	<div class="container">
	    <div class="row">
	    	<div class="col-md-6 phone">
	        	<%= image_tag('vuf2.png', :alt=>"Responsive image") %>
	        </div>
	        <div class="col-md-6 text">
	            <h3>Is it valuable, usable and feasible </h3>
	            <div class="description">
	            		<dl>
  						<dt>Valuable</dt>
  						<dd>People want what you want to give them. They are willing to pay your company for it or use the service.</dd>
						</dl>

						<dl>
  						<dt>Usable</dt>
  						<dd>They are able to intuitively use the offering. They understand that it is there and what it does. </dd>
						</dl>
						<dl>
				  		<dt>Feasible</dt>
				  		<dd>You can build it. The technology is possible with the resources that you have.  </dd>
						</dl>
	            </div>
	        </div>
	    </div>
	</div>

<hr>

  	<div class="container">
	    <div class="row">
	        <div class="col-md-6 text">
	            <h3>What are you trying to test?</h3>
	            <div class="description">
	            	Experimentation will help us support or refute a hypothesis, but we have to do the work to design a good hypothesis and a good experiment.
	          		
	          		</br>
	          
	            	<dt>Types of Discovery</dt>
	            
					<dd>-	Data</dd>
					<dd>- 	A/B Testing</dd>
					<dd>-	Low fidelity prototypes</dd>
					<dd>-	High fidelity prototypes </dd>
					<dd>-	Online testing</dd>
					<dd>-	In person user testing </dd>

	            </div>
	        </div>
	        <div class="col-md-6 phone">
	        	<%= image_tag('photo1.JPG', :class=>"img-circle", :alt=>"Responsive image") %>
	        </div>
	    </div>
	</div>


<hr>


  	<div class="container">
	    <div class="row">
	    	<div class="col-md-6 phone">
	        	<%= image_tag('photo2.JPG', :class=>"img-circle", :alt=>"Responsive image") %>
	        </div>
	        <div class="col-md-6 text">
	            <h3>More Resources </h3>
	            <div class="description">
	            		<dd><a class="btn btn-link	" href="http://www.producttalk.org/" target="_blank">Teresa Torres - Product Talk</a></dd>
						<dd><a class="btn btn-link	" href="http://www.svproduct.com/" target="_blank">Marty Cagan - SVPG</a></dd>
						<dd><a class="btn btn-link	" href="http://www.jeffgothelf.com/blog/#sthash.xdsyEjE1.dpbs" target="_blank">Jeff Gothelf - Lean UX</a></dd>
						</br>

						<a class="btn btn-success" a href="/hypotheses/new">Hypotheses Coach</a>
	            </div>
	        </div>
	    </div>
	</div>




<hr>


