<h1>Discovery</h1>
	<dl>
  <dt>What problem are we solving?</dt>
  <dd>How can we solve it?</dd>
</dl>


  	<div class="container">
	    <div class="row">
	    	<div class="col-sm-6 phone">
	        	<%= image_tag('wormphone.png', class: "wormphone") %>
	        </div>
	        <div class="col-sm-5 text">
	            <h1>Flappy Worms, coming soon.</h1>
	            <div class="description">
	            	Your challenge is to get the worm across the road… Don't get squashed by cars, eaten by frogs, or rubbed on by dogs.
	            </div>
	            <a class="btn btn-link	" href="http://www.producttalk.org/" target="_blank">Follow Product Talk</a>
				<a class="btn btn-link	" href="http://www.svproduct.com/" target="_blank">Follow Marty Cagan</a>
				
	        </div>
	    </div>
	</div>
<p>
  <button class="btn btn-large btn-primary" type="button">Go to the Coach</button>
</p>




