<h1>Welcome to the Discovery Coach! </h1>

<div class="container">
        <div class="row">
            <div class="col-sm-6 phone">
                <%=image_tag("coach.png", :class=>"img-circle", :alt=>"Responsive image") %>
            </div>
            <div class="col-sm-5 text">
                <h3>Want to build great products? </h3>
                <h3>You’re in the right place. </h3>
            	</br>
                <div class="description">
                    Product discovery is a continuous activity that wraps agile delivery work.  User discovery works to answer three important questions
                	<p> </p>
                	</br>
					<dt>1. Will customers buy or opt to use the product or feature? </dt>
			        <dt>2. Can they use the product to effectively reach their goals? </dt>
					<dt>3. Can we build the product given the time and tools we have? </dt>

                </div>
                <h5>This is the place to get help on your discovery techniques. You'll be building awesome products in no time. </h5>
            </div>
        </div>
    </div>